apiVersion : apps/v1 #The main deployment
kind : Deployment 
metadata : 
  name : ml-api-deployment #name of the deployment 
  labels : 
    app : ml-api-predictor
spec : 
  replicas : 1 #number of instances
  selector :
    matchLabels : 
      app : ml-api-predictor 
  template : 
    metadata :
      labels : 
        app : ml-api-predictor
    spec : 
      containers : 
        - name : ml-api-container #an identifier that can be choosen by developer
          image : hajjinihamza/kubernetes-ml:latest #Image name from docker hub
          imagePullPolicy : Always #Only pull image from hub if not present locally
          ports :  
          - containerPort : 8000 #port defined in main.py
          resources :
            requests : 
              cpu : "250m"
              memory : "256Mi"
            limits : 
              memory : "512Mi"
              cpu : "500m"
          livenessProbe: #Checks for container health before restaring pod
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe :  #Checks for model/container readiness before sending traffic
            httpGet:
              path : /ready
              port : 8000
            initialDelaySeconds : 5
            periodSeconds : 5

---


