name : Python Countinuous Integration

on : 
  push : 
    branches :
      - main
  pull_request :
    branches :
      - main

jobs : 
  #Code and unit tests
  build-and-test : 
    runs-on : ubuntu-latest

    steps : 
      - name : Check out repository 
        uses : actions/checkout@v2

      - name : Set up python 
        uses : actions/setup-python@v2
        with : 
          python-version : "3.11"

      - name : Install dependencies 
        run : |
          python -m pip install --upgrade pip 
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      
      - name : Code quality checks (black)
        run : black --check .
      
      - name : Code quality checks (ruff)
        run : ruff check .
      
      - name : Run tests 
        run : pytest

  #Docker build test image
  docker-test:
    name : Build Docker Test Image 
    runs-on : ubuntu-latest
    steps : 
      - name : Check out repo
        uses : actions/checkout@v2
      
      - name : Build test image
        run : docker build --target test -t kubernetes_ml:test .
      
      - name : Run test in docker test image
        run : docker run --rm kubernetes_ml:test

  # Docker build for production
  docker-build :
    name : Build Docker Image
    runs-on : ubuntu-latest
    steps :
      - name : Check out code
        uses : actions/checkout@v2
      
      - name : Build Docker Image
        run : docker build -t kubernetes_ml:ci . 
