name : Python Countinuous Integration

on : 
  push : 
    branches :
      - main
  pull_request :
    branches :
      - main

jobs : 
  build-and-test : 
    runs-on : ubuntu-latest

    steps : 
      - name : Check out repository 
        uses : actions/checkout@v2

      - name : Set up python 
        uses : actions/setup-python@v2
        with : 
          python-version : "3.11"

      - name : Install dependencies 
        run : |
          python -m pip install --upgrade pip 
          pip install -r requirements.txt
          pip install -r requirements-dev.txt
      
      - name : Code quality checks (black)
        run : black --check .
      
      - name : Code quality checks (ruff)
        run : ruff check .
      
      - name : Run tests 
        run : pytest

        